@import url('http://fonts.cdnfonts.com/css/lexend-deca');
@import url('http://fonts.cdnfonts.com/css/dm-sans');

/* tempo */
.guideline{
    border: 1px dotted red;
}
/* /tempo */

body{
    font-family: 'DM Sans', sans-serif;
    background-color: #DFCCC2;
}

h1, h2, h3, h4, h5{
    font-family: 'Lexend Deca', sans-serif;
    color: #FFFFFF;
}

#first-section__img{
    margin-left: -12vw;
}

#first-section__title{
    font-size: 2.2rem;
}

#first-section__subtitle{
    
}