@import url('http://fonts.cdnfonts.com/css/lexend-deca');
@import url('http://fonts.cdnfonts.com/css/dm-sans');

/* tempo */
.guideline{
    border: 1px dotted red;
}
/* /tempo */

body{
    font-family: 'DM Sans', sans-serif;
    background-color: #DFCCC2;
}

h1, h2, h3, h4, h5{
    font-family: 'Lexend Deca', sans-serif;
    color: #FFFFFF;
}

#first-section__img{
    margin-left: -12vw;
}

#first-section__title{
    font-size: 2.2rem;
}

#first-section__subtitle{
    
}

#second-section__background{
    background-image: url('images/background.png');
    background-repeat: no-repeat;
}

#third-section__background{
    background-color: #C5CEBD;
    background-image: url('images/background-3.jpg');
    background-position: right;
    background-repeat: no-repeat;
    position: relative;
}

#third-section__image-right{
    position: absolute;
    bottom: -8vh;
}

#third-section__title{
    font-size: 3.5rem;
    margin-left: -240px;
}